.building {
   display: inline-block;
    vertical-align: middle;
   margin-left: 150px;
}
.panel {
  display: inline-block;
  vertical-align: middle;
  margin-left: 200px;
  padding: 10px
}
.logs {
  display: inline-block;
  margin-left: 100px;
}
